[defaults]
inventory = inventory/hosts.ini
roles_path = roles
collections_path = collections
host_key_checking = False
gathering = smart
fact_caching = memory
stdout_callback = yaml
deprecation_warnings = False

[inventory]
enable_plugins = yaml, ini, auto

[ssh_connection]
pipelining = True
control_path_dir = /tmp/.ansible/cp
